<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--Connection string is the same-->
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=LAPTOP-CKSQK932;Initial Catalog=Art Gallery;Integrated Security=true"/>
	</connectionStrings>

	<!--SCENARIO 1-->
		<appSettings>
				<add key="parent_table" value="Collections"/>
				<add key ="parent_table_pk" value="collection_id"/>
				<add key="child_table" value="Artworks"/>
				<add key ="child_table_fk" value="collection_id"/>
				<add key="parent_query" value="SELECT * FROM Collections"/>
				<add key="child_query" value="SELECT * FROM Artworks"/>
		</appSettings>
	
	

	<!--SCENARIO 2
	<appSettings>
		<add key="parent_table" value="Artists"/>
		<add key ="parent_table_pk" value="artist_id"/>
		<add key="child_table" value="Artworks"/>
		<add key ="child_table_fk" value="artist_id"/>
		<add key="parent_query" value="SELECT * FROM Artists"/>
		<add key="child_query" value="SELECT * FROM Artworks"/>
	</appSettings>
	-->
	
</configuration>